.circle {
    border-radius: 50%;
}

.w-min-content {
    width: min-content;
}

.w-max-content {
    width: max-content;
}

.w-fit-content {
    width: fit-content;
}

.max-w-min-content {
    max-width: min-content;
}

.max-w-max-content {
    max-width: max-content;
}

.max-w-fit-content {
    max-width: fit-content;
}

.h-min-content {
    height: min-content;
}

.h-max-content {
    height: max-content;
}

.h-fit-content {
    height: fit-content;
}

.max-h-min-content {
    max-height: min-content;
}

.max-h-max-content {
    max-height: max-content;
}

.max-h-fit-content {
    max-height: fit-content;
}

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.object-fill {
    object-fit: fill;
}

.object-none {
    object-fit: none;
}

.object-center {
    object-position: center;
}

.object-bottom {
    object-position: bottom;
}

.object-top {
    object-position: top;
}

.object-left {
    object-position: left;
}

.object-right {
    object-position: right;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
    /* Normal weight */
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
    /* Bold */
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
    /* Extra bold */
}

.end-1 {
    right: 1%;
}

.end-2 {
    right: 2%;
}

.end-3 {
    right: 3%;
}

.end-4 {
    right: 4%;
}

.end-5 {
    right: 5%;
}

.start-1 {
    left: 1%;
}

.start-2 {
    left: 2%;
}

.start-3 {
    left: 3%;
}

.start-4 {
    left: 4%;
}

.start-5 {
    left: 5%;
}

.top-1 {
    top: 1%;
}

.top-2 {
    top: 2%;
}

.top-3 {
    top: 3%;
}

.top-4 {
    top: 4%;
}

.top-5 {
    top: 5%;
}

.top-83 {
    top: 83px;
}

.bottom-1 {
    bottom: 1%;
}

.bottom-2 {
    bottom: 2%;
}

.bottom-3 {
    bottom: 3%;
}

.bottom-4 {
    bottom: 4%;
}

.bottom-5 {
    bottom: 5%;
}

.fss-1 {
    font-size: 1px;
}

.fss-2 {
    font-size: 2px;
}

.fss-3 {
    font-size: 3px;
}

.fss-4 {
    font-size: 4px;
}

.fss-5 {
    font-size: 5px;
}

.fss-6 {
    font-size: 6px;
}

.fss-7 {
    font-size: 7px;
}

.fss-8 {
    font-size: 8px;
}

.fss-9 {
    font-size: 9px;
}

.fss-10 {
    font-size: 10px;
}

.fss-11 {
    font-size: 11px;
}

.fss-12 {
    font-size: 12px;
}

.fss-13 {
    font-size: 13px;
}

.fss-14 {
    font-size: 14px;
}

.fss-15 {
    font-size: 15px;
}

.fss-16 {
    font-size: 16px;
}

.fss-17 {
    font-size: 17px;
}

.fss-18 {
    font-size: 18px;
}

.fss-19 {
    font-size: 19px;
}

.fss-20 {
    font-size: 20px;
}

.fss-21 {
    font-size: 21px;
}

.fss-22 {
    font-size: 22px;
}

.fss-23 {
    font-size: 23px;
}

.fss-24 {
    font-size: 24px;
}

.fss-25 {
    font-size: 25px;
}

.fss-26 {
    font-size: 26px;
}

.fss-27 {
    font-size: 27px;
}

.fss-28 {
    font-size: 28px;
}

.fss-29 {
    font-size: 29px;
}

.fss-30 {
    font-size: 30px;
}


.z-1 {
    z-index: 1;
}

.z-100 {
    z-index: 100;
}

.z-1025 {
    z-index: 1025;
}

/* padding and margin */
.p-0 {
    padding: 0rem !important;
}

.m-0 {
    margin: 0rem !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.p-3 {
    padding: 0.75rem !important;
}

.m-3 {
    margin: 0.75rem !important;
}

.p-4 {
    padding: 1rem !important;
}

.m-4 {
    margin: 1rem !important;
}

.p-5 {
    padding: 1.25rem !important;
}

.m-5 {
    margin: 1.25rem !important;
}

.p-6 {
    padding: 1.5rem !important;
}

.m-6 {
    margin: 1.5rem !important;
}

.p-7 {
    padding: 1.75rem !important;
}

.m-7 {
    margin: 1.75rem !important;
}

.p-8 {
    padding: 2rem !important;
}

.m-8 {
    margin: 2rem !important;
}

.p-9 {
    padding: 2.25rem !important;
}

.m-9 {
    margin: 2.25rem !important;
}

.p-10 {
    padding: 2.5rem !important;
}

.m-10 {
    margin: 2.5rem !important;
}

.p-11 {
    padding: 2.75rem !important;
}

.m-11 {
    margin: 2.75rem !important;
}

.p-12 {
    padding: 3rem !important;
}

.m-12 {
    margin: 3rem !important;
}

@media (min-width: 768px) {
    .position-md-relative {
        position: relative !important;
    }

    .position-md-absolute {
        position: absolute !important;
    }

    .hero-details-property {
        top: 7%;
    }

    .fw-md-100 {
        font-weight: 100;
    }

    .fw-md-200 {
        font-weight: 200;
    }

    .fw-md-300 {
        font-weight: 300;
    }

    .fw-md-400 {
        font-weight: 400;
    }

    .fw-md-500 {
        font-weight: 500;
    }

    .fw-md-600 {
        font-weight: 600;
    }

    .fw-md-700 {
        font-weight: 700;
    }

    .fw-md-800 {
        font-weight: 800;
    }

    .fw-md-900 {
        font-weight: 900;
    }

    .fss-md-1 {
        font-size: 1px;
    }

    .fss-md-2 {
        font-size: 2px;
    }

    .fss-md-3 {
        font-size: 3px;
    }

    .fss-md-4 {
        font-size: 4px;
    }

    .fss-md-5 {
        font-size: 5px;
    }

    .fss-md-6 {
        font-size: 6px;
    }

    .fss-md-7 {
        font-size: 7px;
    }

    .fss-md-8 {
        font-size: 8px;
    }

    .fss-md-9 {
        font-size: 9px;
    }

    .fss-md-10 {
        font-size: 10px;
    }

    .fss-md-11 {
        font-size: 11px;
    }

    .fss-md-12 {
        font-size: 12px;
    }

    .fss-md-13 {
        font-size: 13px;
    }

    .fss-md-14 {
        font-size: 14px;
    }

    .fss-md-15 {
        font-size: 15px;
    }

    .fss-md-16 {
        font-size: 16px;
    }

    .fss-md-17 {
        font-size: 17px;
    }

    .fss-md-18 {
        font-size: 18px;
    }

    .fss-md-19 {
        font-size: 19px;
    }

    .fss-md-20 {
        font-size: 20px;
    }

    .fss-md-21 {
        font-size: 21px;
    }

    .fss-md-22 {
        font-size: 22px;
    }

    .fss-md-23 {
        font-size: 23px;
    }

    .fss-md-24 {
        font-size: 24px;
    }

    .fss-md-25 {
        font-size: 25px;
    }

    .fss-md-26 {
        font-size: 26px;
    }

    .fss-md-27 {
        font-size: 27px;
    }

    .fss-md-28 {
        font-size: 28px;
    }

    .fss-md-29 {
        font-size: 29px;
    }

    .fss-md-30 {
        font-size: 30px;
    }

    /* paddin & margin */
    .p-md-1 {
        padding: 0.375rem !important;
    }

    .m-md-1 {
        margin: 0.375rem !important;
    }

    .p-md-2 {
        padding: 0.625rem !important;
    }

    .m-md-2 {
        margin: 0.625rem !important;
    }

    .p-md-3 {
        padding: 1rem !important;
    }

    .m-md-3 {
        margin: 1rem !important;
    }

    .p-md-4 {
        padding: 1.5rem !important;
    }

    .m-md-4 {
        margin: 1.5rem !important;
    }

    .p-md-5 {
        padding: 1.75rem !important;
    }

    .m-md-5 {
        margin: 1.75rem !important;
    }

    .p-md-6 {
        padding: 2rem !important;
    }

    .m-md-6 {
        margin: 2rem !important;
    }

    .p-md-7 {
        padding: 2.25rem !important;
    }

    .m-md-7 {
        margin: 2.25rem !important;
    }

    .p-md-8 {
        padding: 2.5rem !important;
    }

    .m-md-8 {
        margin: 2.5rem !important;
    }

    .p-md-9 {
        padding: 2.75rem !important;
    }

    .m-md-9 {
        margin: 2.75rem !important;
    }

    .p-md-10 {
        padding: 3rem !important;
    }

    .m-md-10 {
        margin: 3rem !important;
    }

    .p-md-11 {
        padding: 3.25rem !important;
    }

    .m-md-11 {
        margin: 3.25rem !important;
    }

    .p-md-12 {
        padding: 3.5rem !important;
    }

    .m-md-12 {
        margin: 3.5rem !important;
    }
}

/* Large devices (lg) - Screens ≥992px */
@media (min-width: 992px) {
    .fw-lg-100 {
        font-weight: 100;
    }

    .fw-lg-200 {
        font-weight: 200;
    }

    .fw-lg-300 {
        font-weight: 300;
    }

    .fw-lg-400 {
        font-weight: 400;
    }

    .fw-lg-500 {
        font-weight: 500;
    }

    .fw-lg-600 {
        font-weight: 600;
    }

    .fw-lg-700 {
        font-weight: 700;
    }

    .fw-lg-800 {
        font-weight: 800;
    }

    .fw-lg-900 {
        font-weight: 900;
    }

    .fss-lg-1 {
        font-size: 1px;
    }

    .fss-lg-2 {
        font-size: 2px;
    }

    .fss-lg-3 {
        font-size: 3px;
    }

    .fss-lg-4 {
        font-size: 4px;
    }

    .fss-lg-5 {
        font-size: 5px;
    }

    .fss-lg-6 {
        font-size: 6px;
    }

    .fss-lg-7 {
        font-size: 7px;
    }

    .fss-lg-8 {
        font-size: 8px;
    }

    .fss-lg-9 {
        font-size: 9px;
    }

    .fss-lg-10 {
        font-size: 10px;
    }

    .fss-lg-11 {
        font-size: 11px;
    }

    .fss-lg-12 {
        font-size: 12px;
    }

    .fss-lg-13 {
        font-size: 13px;
    }

    .fss-lg-14 {
        font-size: 14px;
    }

    .fss-lg-15 {
        font-size: 15px;
    }

    .fss-lg-16 {
        font-size: 16px;
    }

    .fss-lg-17 {
        font-size: 17px;
    }

    .fss-lg-18 {
        font-size: 18px;
    }

    .fss-lg-19 {
        font-size: 19px;
    }

    .fss-lg-20 {
        font-size: 20px;
    }

    .fss-lg-21 {
        font-size: 21px;
    }

    .fss-lg-22 {
        font-size: 22px;
    }

    .fss-lg-23 {
        font-size: 23px;
    }

    .fss-lg-24 {
        font-size: 24px;
    }

    .fss-lg-25 {
        font-size: 25px;
    }

    .fss-lg-26 {
        font-size: 26px;
    }

    .fss-lg-27 {
        font-size: 27px;
    }

    .fss-lg-28 {
        font-size: 28px;
    }

    .fss-lg-29 {
        font-size: 29px;
    }

    .fss-lg-30 {
        font-size: 30px;
    }

    .position-lg-relative {
        position: relative !important;
    }

    .position-lg-absolute {
        position: absolute !important;
    }
    /* padding & margin */
    .p-lg-1 { padding: 0.5rem !important; }
    .m-lg-1 { margin: 0.5rem !important; }

    .p-lg-2 { padding: 0.75rem !important; }
    .m-lg-2 { margin: 0.75rem !important; }

    .p-lg-3 { padding: 1.25rem !important; }
    .m-lg-3 { margin: 1.25rem !important; }

    .p-lg-4 { padding: 1.75rem !important; }
    .m-lg-4 { margin: 1.75rem !important; }

    .p-lg-5 { padding: 2rem !important; }
    .m-lg-5 { margin: 2rem !important; }

    .p-lg-6 { padding: 2.25rem !important; }
    .m-lg-6 { margin: 2.25rem !important; }

    .p-lg-7 { padding: 2.5rem !important; }
    .m-lg-7 { margin: 2.5rem !important; }

    .p-lg-8 { padding: 2.75rem !important; }
    .m-lg-8 { margin: 2.75rem !important; }

    .p-lg-9 { padding: 3rem !important; }
    .m-lg-9 { margin: 3rem !important; }

    .p-lg-10 { padding: 3.25rem !important; }
    .m-lg-10 { margin: 3.25rem !important; }

    .p-lg-11 { padding: 3.5rem !important; }
    .m-lg-11 { margin: 3.5rem !important; }

    .p-lg-12 { padding: 3.75rem !important; }
    .m-lg-12 { margin: 3.75rem !important; }
}